@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    font-weight: bold;
    /* margin: 40px; */
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.card-body h6 {
    padding: 0.75rem 1.25rem;
}

.card-body h4 {
    padding: .5rem 1.25rem;
    font-weight: bold;
}

.card-body-details {
    padding: 0.75rem .20rem;
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
}

.track .step.active:before {
    background: #FF5722;
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px;
}

.track .step.active .icon {
    background: #ee5435;
    color: #fff;
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    color: black;
    background: #ddd;
}

.track .step.active .text {
    font-weight: 600;
    color: #fff;
}

.track .text {
    display: block;
    margin-top: 7px;
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px;
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0;
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px;
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-warning {
    color: #ffffff;
    background-color: #ee5435;
    border-color: #ee5435;
    border-radius: 1px;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #ff2b00;
    border-color: #ff2b00;
    border-radius: 1px;
}

.submit {
    margin-left: 10px;
    margin-bottom: 10px !important;
}






.form-control-label {
    margin-bottom: 0
}
input{
    width: 100%;
}
input,
textarea,
button {
    padding: 2px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
    color: black !important;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__button{
    width: 100px;
    /* height: 30px; */
    margin: 10px;
    padding: 2px;
    margin-top: 10px;
}
.spenddiv{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-gap:5%;
    margin: 5px;
    margin-left: 25px;
}
.trans-content{
    background-color: #ffc000;
    padding: 9px;
    border-radius: 10px;
    color:black
}
.trans-left{
    display: grid;
    grid-template-columns: 80% 20%;
}
@media(max-width:767px) {
    .spenddiv{
        display: grid;
    grid-template-columns: 100%;
    }
    .content-desc{
        display: grid;
        grid-template-columns: 100%;
    }
}

.content-desc{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.features-content{
    margin-top: 20px;
}